@model BTdatabasefirst.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin chi tiết nhân viên</h1>

<div>
    <h4>Nhân viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Tennhanvien) *@
            Tên nhân viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennhanvien)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Ngaysinh) *@
            Ngày sinh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Sdt) *@
            Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.IdcvNavigation) *@
            Mã chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcvNavigation.Idcv)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.IdpbNavigation) *@
            Mã phòng ban
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpbNavigation.Idpb)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.IdpbNavigation) *@
            Ảnh
        </dt>
        <dd class = "col-sm-10">
            
                <img src="~/img/model.Avatar" alt="Avatar" width="100" />
           
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idnv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
